svg {
  width: 32px;
  height: 32px;
}

svg,
svg path {
  pointer-events: none;
}

.adding-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.adding-form label {
  display: flex;
  margin-bottom: 1em;
}

.adding-form input {
  margin-left: auto;
}

table button {
  width: 33.3%;
}

table tr {
  border-bottom: 1px solid gray;
}

table th {
  border-right: 1px solid gray;
}

.btn-wrapper {
  margin-bottom: 35px;
}

.btn-wrapper button {
  width: 45%;
}

.hideBtn {
  display: none;
}

.printBtn-container {
  margin: 0 auto;
  display: flex;
  width: 80%;
  align-items: center;
}
