tr {
  border-bottom: 1px solid grey !important;
}

svg {
  width: 32px;
  height: 32px;
  /* pointer-events: none; */
}

svg,
svg path {
  pointer-events: none;
}

.adding-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.adding-form label {
  display: flex;
  margin-bottom: 1em;
}

.adding-form input {
  margin-left: auto;
}

#updateEntryBtn,
#undoUpdateBtn {
  /* visibility: hidden; */
}

.btn-wrapper {
  margin-bottom: 35px;
}

.printBtn-container {
  margin: 0 auto;
  display: flex;
  width: 80%;
  align-items: center;
}

.clicked {
  /* display: none; */
  visibility: hidden;
  /* color: red; */
}

button {
  margin: 1em;
}

table button {
  width: 33.3%;
}

#updateEntryBtn.toggler,
#undoUpdateBtn.toggler {
  visibility: visible;
  /* display: flex;
  justify-content: space-between; */
}

.hideBtn {
  display: none;
}
